<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accident</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{#<h1>Accident Page</h1>#}

{#<br>#}

<table class="table table-hover table-responsive">
    <caption>事故记录</caption>
    <thead>
    <tr>
        <th>事故时间</th>
        <th>事故地点</th>
        <th>司机姓名</th>
        <th>司机工号</th>
        <th>车牌号码</th>
        <th>受害车辆</th>
        <th>事故原因</th>
        <th>赔偿金额</th>
    </tr>
    </thead>
    {% if acc_list %}
        <tbody>
        {{% for acc in acc_list %}
        <tr>
        <td>{{ acc.Time | date:"Y-m-d" }}</td>
        <td>{{ acc.Spot }}</td>
        <td>{{ acc.ZSDName }}</td>
        <td>{{ acc.ZSDNo_id }}</td>
        <td>{{ acc.ZSCNo }}</td>
        <td>{{ acc.SGCNo }}</td>
        <td>{{ acc.Cause }}</td>
        <td>{{ acc.Money }}</td>
        </tr>
    {% endfor %}
        </tbody>
    {% endif %}
</table>

</body>
</html>