{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Base{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/echarts.js' %}"></script>
    {% block css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">

    <a href="#" class="navbar navbar-brand"><strong>车辆运输管理系统</strong></a>
    <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'TransportationManagement:car' %}">车辆管理</a></li>
        <li><a href="{% url 'TransportationManagement:driver' %}">司机信息</a></li>
        <li><a href="{% url 'TransportationManagement:proposer' %}">业务申请</a></li>
        <li><a href="{% url 'TransportationManagement:record' %}">运营记录</a></li>
        <li><a href="{% url 'TransportationManagement:accident' %}">事故信息</a>
{#        </li><li><a href="Driver.html">司机信息</a></li>#}
{#        <li><a href="Proposer.html">业务申请</a></li>#}
{#        <li><a href="Record.html">运营记录</a></li>#}
{#        <li><a href="Accident.html">事故信息</a></li>#}
    </ul>

    <!--<a href="" class="btn btn-primary btn-sm navbar-btn navbar-right">登录</a>-->
    <div class="profile navbar-right">
    <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
            <li><a href="#" >您好：{{ request.user.username }}！</a></li>
            <li><a href="/TransportationManagement/logout/"  class="btn btn-sm navbar-btn">登出</a></li>
        {% else %}
            <li><a href="#">请登录</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary btn-sm navbar-btn">登录</a></li>
        {% endif %}
        <li><a href="/TransportationManagement/register/" class="btn btn-sm navbar-btn">注册</a></li>
    </ul>
        <!--<p class="navbar-text">您好，<a href="#" class="navbar-link">用户x</a></p>-->
    </div>
</nav>



<div class="modal fade" id="login-modal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4>用户登录</h4>
            </div>
            <form id="login-form" action="/TransportationManagement/login/" role="form" method="post">
                {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Your name">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="登录">
{#                <button class="btn btn-primary">登录</button>#}
            </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>

    {% block content %}{% endblock %}


    <script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'lib/holder.js' %}"></script>
    {% block script %}{% endblock %}

</body>
</html>