{% extends 'base.html' %}
{% block title %}司机信息{% endblock %}
{% block content %}
<h1>The Driver Information Page</h1>
<div id="hiredate_num" style="width: 800px;height: 400px;"></div>
<br/>
<div id="age_num" style="width: 800px;height: 400px;"></div>
<br>
<div id="gender" style="width: 800px;height: 400px;"></div>
<script>
    var hiretimeChart = echarts.init(document.getElementById('hiredate_num'));
    var ageChart = echarts.init(document.getElementById('age_num'));
    var genderChart = echarts.init(document.getElementById('gender'));
    var female_num = {{ female_num | safe }};
    var male_num = {{ male_num | safe }};

    var hiretimeChartOption = {
        title:{
            text:'司机雇佣年份分布'
        },
        legend:{
            data: ['2016年', '2017年', '2018年']
        },
        tooltip:{
                trigger: 'item',
                show:true,
                formatter: "{a} {b} : {c} ({d}%)",
            },
        xAxis:{
            data: ['2016年', '2017年', '2018年']
        },
        yAxis:{

        },
        series:[
            {
                name:'数量',
                type:'bar',
                data: {{ year_nums | safe }}
            },
            {
                name:'数量',
                type:'line',
                color:'blue',
                data: {{ year_nums | safe }}
            }
        ],
    };
    var ageChartOption = {
        title:{
            text: '司机年龄分布'
        },
        legend:{
            data:['18到15', '25到35', '35到45']
        },
        tooltip:{
            trigger: 'item',
                show:true,
                formatter: "{a} {b} : {c} ({d}%)",
        },
        xAxis:{
            data:['18到15', '25到35', '35到45']
        },
        yAxis:{},
        series: [
            {
                name:'数量',
                type: 'bar',
                data: {{ age_nums | safe }}
            }
        ],
    };
    var genderChartOption = {
        title:{
            text: '司机性别分布'
        },
        legend:{
            data:['男', '女']
        },
        tooltip:{
            trigger: 'item',
            show:true,
            formatter: "{a} {b} : {c} ({d}%)",
        },
        series:[
            {
                name:'数量',
                type:'pie',
                data: [
                    {value: male_num, name:'男'},
                    {value: female_num, name:'女'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    hiretimeChart.setOption(hiretimeChartOption);
    ageChart.setOption(ageChartOption);
    genderChart.setOption(genderChartOption);
</script>
<table class="table table-hover table-responsive">
    <caption>司机信息</caption>
    <thead>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>电话号码</th>
        <th>雇佣时间</th>
        <th>是否在职</th>
    </tr>
    </thead>
    {% if driver_list %}
        <tbody>
        {{% for driver in driver_list %}
        <tr>
        <td>{{ driver.id }}</td>
        <td>{{ driver.DName }}</td>
        <td>{{ driver.DSex }}</td>
        <td>{{ driver.DAge }}</td>
        <td>{{ driver.PhoneNum }}</td>
        <td>{{ driver.Hiredata }}</td>
        <td>{{ driver.isAvailable }}</td>
        </tr>
    {% endfor %}
        </tbody>
    {% endif %}
</table>
{% endblock %}


{##}
{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Driver</title>#}
{#    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">#}
{#    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>#}
{#    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#    <script src="{% static 'js/echarts.js' %}"></script>#}
{#</head>#}
{#<body>#}
{##}
{#<h1>The Driver Information Page</h1>#}
{##}
{##}
{#<div id="hiredate_num" style="width: 800px;height: 400px;"></div>#}
{#<br/>#}
{#<div id="age_num" style="width: 800px;height: 400px;"></div>#}
{#<br>#}
{#<div id="gender" style="width: 800px;height: 400px;"></div>#}
{##}
{#<script>#}
{##}
{#    var hiretimeChart = echarts.init(document.getElementById('hiredate_num'));#}
{#    var ageChart = echarts.init(document.getElementById('age_num'));#}
{#    var genderChart = echarts.init(document.getElementById('gender'));#}
{#    var female_num = {{ female_num | safe }};#}
{#    var male_num = {{ male_num | safe }};#}
{##}
{#    var hiretimeChartOption = {#}
{#        title:{#}
{#            text:'司机雇佣年份分布'#}
{#        },#}
{#        legend:{#}
{#            data: ['2016年', '2017年', '2018年']#}
{#        },#}
{#        tooltip:{#}
{#                trigger: 'item',#}
{#                show:true,#}
{#                formatter: "{a} {b} : {c} ({d}%)",#}
{#            },#}
{#        xAxis:{#}
{#            data: ['2016年', '2017年', '2018年']#}
{#        },#}
{#        yAxis:{#}
{##}
{#        },#}
{#        series:[#}
{#            {#}
{#                name:'数量',#}
{#                type:'bar',#}
{#                data: {{ year_nums | safe }}#}
{#            },#}
{#            {#}
{#                name:'数量',#}
{#                type:'line',#}
{#                color:'blue',#}
{#                data: {{ year_nums | safe }}#}
{#            }#}
{#        ],#}
{#    };#}
{#    var ageChartOption = {#}
{#        title:{#}
{#            text: '司机年龄分布'#}
{#        },#}
{#        legend:{#}
{#            data:['18到15', '25到35', '35到45']#}
{#        },#}
{#        tooltip:{#}
{#            trigger: 'item',#}
{#                show:true,#}
{#                formatter: "{a} {b} : {c} ({d}%)",#}
{#        },#}
{#        xAxis:{#}
{#            data:['18到15', '25到35', '35到45']#}
{#        },#}
{#        yAxis:{},#}
{#        series: [#}
{#            {#}
{#                name:'数量',#}
{#                type: 'bar',#}
{#                data: {{ age_nums | safe }}#}
{#            }#}
{#        ],#}
{#    };#}
{#    var genderChartOption = {#}
{#        title:{#}
{#            text: '司机性别分布'#}
{#        },#}
{#        legend:{#}
{#            data:['男', '女']#}
{#        },#}
{#        tooltip:{#}
{#            trigger: 'item',#}
{#            show:true,#}
{#            formatter: "{a} {b} : {c} ({d}%)",#}
{#        },#}
{#        series:[#}
{#            {#}
{#                name:'数量',#}
{#                type:'pie',#}
{#                data: [#}
{#                    {value: male_num, name:'男'},#}
{#                    {value: female_num, name:'女'}#}
{#                ],#}
{#                itemStyle: {#}
{#                    emphasis: {#}
{#                        shadowBlur: 10,#}
{#                        shadowOffsetX: 0,#}
{#                        shadowColor: 'rgba(0, 0, 0, 0.5)'#}
{#                    }#}
{#                }#}
{#            }#}
{#        ]#}
{#    };#}
{##}
{#    hiretimeChart.setOption(hiretimeChartOption);#}
{#    ageChart.setOption(ageChartOption);#}
{#    genderChart.setOption(genderChartOption);#}
{##}
{#</script>#}
{##}
{##}
{##}
{##}
{#<table class="table table-hover table-responsive">#}
{#    <caption>司机信息</caption>#}
{#    <thead>#}
{#    <tr>#}
{#        <th>编号</th>#}
{#        <th>姓名</th>#}
{#        <th>性别</th>#}
{#        <th>年龄</th>#}
{#        <th>电话号码</th>#}
{#        <th>雇佣时间</th>#}
{#        <th>是否在职</th>#}
{#    </tr>#}
{#    </thead>#}
{#    {% if driver_list %}#}
{#        <tbody>#}
{#        {{% for driver in driver_list %}#}
{#        <tr>#}
{#        <td>{{ driver.id }}</td>#}
{#        <td>{{ driver.DName }}</td>#}
{#        <td>{{ driver.DSex }}</td>#}
{#        <td>{{ driver.DAge }}</td>#}
{#        <td>{{ driver.PhoneNum }}</td>#}
{#        <td>{{ driver.Hiredata }}</td>#}
{#        <td>{{ driver.isAvailable }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#        </tbody>#}
{#    {% endif %}#}
{#</table>#}
{##}
{##}
{#</body>#}
{#</html>#}