<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<script src="static/lib/jquery-3.3.1.min.js"></script>
<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

<div class="container">

    <div class="wrapper">
        <div class="heading">
            <div class="heading_nav">
                <div class="heading_title">
                    车辆运营管理系统
                </div>
                <div class="headding_navbar">
                    <ul>
                        <li><a href="Car.html">车辆管理</a></li>
                        <li><a href="Driver.html">司机信息</a></li>
                        <li><a href="Proposer.html">运营申请</a></li>
                        <li><a href="Record.html">查看记录</a></li>
                        <li><a href="Accident.html">事故管理</a></li>

                    </ul>
                </div>
                <div class="heading_img">
                    <img src="static/img/head.jpg" alt="Head">
                </div>
                <div class="heading_soptlight">
                    <form action="">
                        <input type="text">
                    </form>
                </div>
            </div>
        </div>

        <div class="body">

            <div class="body_title">
                <h3>欢迎来到车辆运输管理系统</h3>
                <hr>
                <p>点击车辆管理，查看当前车库中车辆信息。</p>
                <p>点击司机信息，查看当前雇佣司机人员信息。</p>
                <p>点击运营申请，即可提交车辆运营申请。</p>
                <p>点击事故管理，查看并管理发生事故信息。</p>
                <p>点击查看记录，查看历史记录。</p>
            </div>

        </div>
    </div>
    <div class="footing">
        @BUCT LuoD
    </div>
</div>



</body>
</html>