<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Record{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<h1>The Record Page</h1>

<table class="table table-hover table-responsive">
    <caption>运营记录</caption>
    <thead>
    <tr>
        <th>编号</th>
        <th>车牌号</th>
        <th>司机编号</th>
        <th>司机姓名</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>耗油量</th>
        <th>是否删除</th>
    </tr>
    </thead>
    {% if rec_list %}
        <tbody>
        {{% for record in rec_list %}
        <tr>
        <td>{{ record.id }}</td>
        <td>{{ record.CNo }}</td>
        <td>{{ record.DNo_id }}</td>
        <td>{{ record.DName }}</td>
        <td>{{ record.STime| date:"Y-m-d" }}</td>
        <td>{{ record.ETime | date:"Y-m-d" }}</td>
        <td>{{ record.OilConsumpution }}</td>
        <td>{{ record.isDelete }}</td>
        </tr>
    {% endfor %}
        </tbody>
    {% endif %}
</table>

</body>
</html>